@theme {
  --color-brand-primary: #5189fa;
  --color-brand-secondary: #eef3ff;
  --color-brand-tertiary: #315296;

  --color-point-purple: #a855f7;
  --color-point-cyan: #06b6d4;
  --color-point-pink: #ec4899;
  --color-point-rose: #f43f5e;
  --color-point-orange: #f97316;
  --color-point-yellow: #eab308;

  --color-background-primary: #ffffff;
  --color-background-secondary: #f1f5f9;
  --color-background-tertiary: #e2e8f0;
  --color-background-inverse: #ffffff;

  --color-interaction-inactive: #94a3b8;
  --color-interaction-hover: #416ec8;

  --color-border-primary: #f8fafc80;
  --color-border-secondary: #cbd5e1;

  --color-text-primary: #1e293b;
  --color-text-secondary: #334155;
  --color-text-tertiary: #0f172a;
  --color-text-default: #64748b;
  --color-text-inverse: #ffffff;
  --color-text-disabled: #e2e8f0;

  --color-status-danger: #fc4b4b;
  --color-status-hover: #c03737;

  --color-icon-primary: #64748b;
  --color-icon-inverse: #f8fafc;
  --color-icon-brand: #74a1fb;

  --shadow-floating: 0 5px 5px #31549933;

  --font-sans: var(--font-pretendard);
}
